* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  background-image: url("/assets/Image/glowimage.gif");
  background-color: rgb(8, 3, 105);
  background-position: 50% center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: black 2px 1px 3px;
  width: auto;
  height: 100vh;
}

.containerCambiaColor {
  background-image: url("/assets/Image/glowimage.gif");
  background-blend-mode: difference;
  background-color: rgb(8, 3, 105);
  background-position: 50% center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: black 2px 1px 3px;
  width: auto;
  height: 100vh;
}

.animacionDisco {
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 13px 22px 65px 32px rgb(210, 218, 233);
  -webkit-box-shadow: 13px 22px 65px 32px rgb(23, 5, 138);
  -moz-box-shadow: 13px 22px 65px 32px rgb(15, 33, 174);
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.Disco:hover {
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 13px 22px 65px 32px rgb(210, 218, 233);
  -webkit-box-shadow: 13px 22px 65px 32px rgb(93, 0, 90);
  -moz-box-shadow: 13px 22px 65px 32px rgb(15, 33, 174);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

audio {
  padding-bottom: 2%;
  margin-top: 5%;
  margin-left: 2%;
}

.Panel {
  width: 380px;
  height: 90px;
  border-radius: 5%;
  margin-left: 3%;
  box-shadow: rgb(43, 35, 35) 3px 5px 8px;
  background-image: url("/assets/Image/window.gif");
  opacity: 82%;
  background-blend-mode: hard-light;
  background-position-y: center;
  background-position-x: right;
}

.card {
  backdrop-filter: blur(22px) saturate(180%);
  -webkit-backdrop-filter: blur(22px) saturate(180%);
  background-color: rgba(56, 10, 24, 0.69);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.Artista {
  background-color: transparent;
  width: 354;
  height: 353px;
  border: none;
}

.Letras {
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-shadow: black 1px 1px 2px;
}

.menu {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(34, 20, 126);
  text-shadow: -1px 6px 7px rgb(0, 3, 183);
  list-style: none;
  text-decoration: none;
}

.menu:hover {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  transition: 1s;
  color: rgb(189, 128, 255);
  text-shadow: -1px 6px 7px rgb(0, 0, 0);
}

.ocultarElemento {
  display: none;
}

h2 {
  display: inline-flex;
  padding-left: 30%;
  background-color: rgba(255, 255, 255, 0.363);
}

.menuColor:hover {
  transition: 1s;
  color: rgb(11, 96, 182);
  text-shadow: -1px 6px 7px rgb(0, 0, 0);
}
.tipografiaNav {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(30, 17, 17);
  text-shadow: rgb(11, 96, 182) 1px 1px 2px;
}

.colorIcon {
  color: yellow;
}

.colorIconEstrella {
  color: orange;
}

a {
  color: rgb(155, 84, 255);
  text-shadow: rgb(255, 255, 255) 2px 1px 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.editFooter {
  display: flex;
  justify-content: flex-start;
  margin-left: 12%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: rgb(255, 255, 255) 2px 1px 2px;
}
.Cantante {
  display: flex;
  justify-content: space-around;
  width: 394;
  height: 383px;
  margin: 2%;
  border: none;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}

.contactFont {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 25px;
  text-shadow: rgb(98, 4, 156) 1px 3px 1px;
}

.letterSpacing {
  letter-spacing: 1px;
}

.miImagen {
  width: 300px;
  box-shadow: 3px 2px 3px rgb(28, 26, 26);
  filter: brightness(2);
  border-radius: 8%;
}

.centrar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 6%;
  padding-left: 2%;
}

.letrasDeCanciones {
  font-size: 25px;
  margin-left: 15%;
  margin-bottom: 30%;
}
.contenedorLetrasDeCanciones {
  font-size: 20px;
  width: 25%;
  margin-left: 15%;
  margin-bottom: 30%;
}
.editarFuentesSeccionLyrics {
  color: aliceblue;
  text-shadow: 2px 4px 2px rgb(89, 0, 255);
}

.sombra {
  text-shadow: 2px 4px 2px rgb(89, 0, 255);
}

.linkText {
  display: block;
  font-size: 2em;
  font-style: italic;
  cursor: pointer;
}

/* ----------------------------------------CONTROL DE REPRODUCTOR------------------------------------------------- MODO CLARO */

.fas.fa-backward {
  font-size: 40px;
  color: rgb(88, 134, 214);
  text-shadow: black 1px 3px 1px;
}
.fas.fa-backward:hover {
  color: rgb(11, 96, 182);
  transition: 1s;
}
.fas.fa-play {
  font-size: 40px;
  color: rgb(88, 134, 214);
  text-shadow: black 1px 3px 1px;
}

.fas.fa-pause {
  font-size: 40px;
  color: rgb(88, 134, 214);
  text-shadow: black 1px 3px 1px;
}
.fas.fa-pause:hover {
  color: rgb(11, 96, 182);
  transition: 1s;
}

.fas.fa-play:hover {
  color: rgb(11, 96, 182);
  transition: 1s;
}
.fas.fa-forward {
  font-size: 40px;
  color: rgb(88, 134, 214);
  text-shadow: black 1px 3px 1px;
}

.fas.fa-forward:hover {
  color: rgb(11, 96, 182);
  transition: 1s;
}

.btnBackward {
}

button {
  padding-left: 17%;
  padding-top: 5%;
  background-color: transparent;
  border-style: none;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .Container {
    flex-direction: column;
    align-content: stretch;
    align-items: baseline;
    justify-content: center;
  }
  .card {
    width: 100%;
    height: 10%;
    margin-top: 4%;
    padding-right: 2%;
    padding-left: 3%;
    margin: auto;
  }
  .Artista {
    margin-top: 18%;
  }
  .editFooter {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    margin: auto;
  }
  .menu {
    font-size: 32px;
  }
  a {
    font-size: 18px;
  }
  .Disco:hover {
    border-radius: 15%;
    margin-top: 20%;
    height: 50%;
    margin-bottom: 10%;
    -webkit-box-shadow: 13px 22px 65px 32px rgba(255, 43, 255, 0.426);
    -moz-box-shadow: 13px 22px 65px 32px rgba(15, 34, 174, 0.01);
  }
  .animacionDisco {
    background-color: transparent;
    border-radius: 25%;
    -webkit-box-shadow: 13px 22px 65px 32px rgba(255, 162, 255, 0.708);
    -moz-box-shadow: 13px 22px 65px 32px rgba(15, 34, 174, 0.01);
    animation-name: none;
  }
  .contenedorLetrasDeCanciones {
    font-size: 15px;
    width: 100%;
  }
  .miImagen {
    width: 320px;
    box-shadow: 3px 2px 3px rgb(28, 26, 26);
  }
  .centrar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 6%;
    padding-left: 2%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: stretch;
  }
  .contenedorLetrasDeCanciones {
    margin: auto;
  }

  .contactFont {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: white;
    font-size: px;
    margin: auto;
    width: 100%;
    text-shadow: rgb(98, 4, 156) 1px 3px 1px;
  }
  .Cantante {
    display: flex;
    justify-content: space-evenly;
    width: 394;
    height: 230px;
    margin: 2%;
    border: none;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    flex-direction: column;

    /*BOTONES*/
    .fas.fa-backward {
      font-size: 30px;
    }
    .fas.fa-play {
      font-size: 30px;
    }
    .fas.fa-pause {
      font-size: 30px;
    }
    .fas.fa-forward {
      font-size: 30px;
    }
  }
  .containerCambiaColor {
    height: 100% !important;
  }
}
